//Footer
.footer-main {
  position: relative;
  padding: 86px 0 153px 0;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: $blue-main;
  background-image: url("../img/footer-back.png");
}
.footer-form {
  background-color: #ffffff;
  padding: size(40) 0 size(20) 0;
  background-image: url("../img/foo-form-back.png");
  background-position: left bottom;
  background-size: 30% auto;
  background-repeat: no-repeat;
}
.foo-title {
  @include h4;
  color: #000000;
  margin-bottom: size(22);
}
.foo-menu {
  position: relative;
  li {
	position: relative;
	a, span {
	  display: flex;
	  @include base-text;
	  margin-bottom: 5px;
	  transition: all ease-out .5s;
	  &:hover {
		color: #000000;
		text-decoration: underline;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: 11px;
  right: 6px;
  @include d-center;
  cursor: pointer;
  width: size(58);
  height: size(54);
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  z-index: 999;
  img {
	width: size(31);
	animation: jump-top 1.6s ease-in-out alternate infinite;
  }
}
//Socials in footer
.foo-socials-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 26px;
}
.foo-social-link-item {
  @include d-center;
  margin: 0 15px;
  &:first-child {
	margin: 0 0 0 15px;
  }
  &:last-child {
	margin: 0 15px 0 0;
  }
}
