.pop-form-title {
  @include h4;
  font-weight: 600;
  color: #000000;
  margin-bottom: size(11);
}
.foo-form-title {
  @include h2;
  color: #000000;
  margin-bottom: size(19);
}
//Forms
.wpcf7-form, .step-body-block {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include base-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include base-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include base-text;
  @include input-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(14);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-position: calc(100% - 10px) center;
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-size: size(25);
  background-position: calc(100% - 8px) center;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-left: size(38);
  background-position: 12px center;
  background-size: size(22);
  line-height: normal;
}
.select-col {
  position: relative;
  &:after {
	position: absolute;
	content: '';
	right: 5px;
	top: -5px;
	display: block;
	height: 100%;
	width: size(40);
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(20);
	background-image: url("../iconsall/form-select-icon.png");
	z-index: 3;
  }
}
div.wpcf7 input[type="submit"] {
  @include h2;
  text-align: center;
  background-color: $blue-main;
  color: #000000;
  padding: 5px size(50);
}
div.wpcf7 .newsletter-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: size(48);
  border-radius: 5px;
  border: 1px solid #000000;
  input[type="email"] {
	padding-right: size(58);
	background-size: size(42);
	height: size(38);
	border: none;
	//background-color: transparent;
	margin-bottom: 0 !important;
	@media (max-width: 576px) {
	  background-size: size(32);
	}
  }
  input[type="submit"] {
	height: size(39);
	padding: 5px size(60);
	max-width: size(234);
	margin-bottom: 0 !important;
	@media (max-width: 576px) {
	  padding: 5px size(30);
	  @include h5;
	  max-width: size(134);
	}
  }
  .wpcf7-spinner {
	position: absolute;
	bottom: 0;
	left: 0;
  }
}
.acceptance-col {
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
  }
  span.wpcf7-list-item {
	margin-right: 0 !important;
  }
  input[type="checkbox"] {
	@include d-center;
	width: size(24);
	min-width: size(24);
	margin-left: 10px;
	margin-bottom: 0;
  }
  span {
	@include base-text;
	color: #000000;
	text-align: right;
  }
}
.article-page-body {
  ::placeholder {
	@include base-text;
  }
  .comment-form {
	background-color: #ebebeb;
	padding: size(23) size(58) size(32) 8%;
	display: flex;
	flex-direction: column;
	margin-top: size(41);
	margin-bottom: 19px;
	@media (max-width: 650px) {
	  padding: size(23) size(28) size(32) size(28);
	}
  }
  input[type="text"], textarea {
	border-radius: 5px;
	border: 1px solid #000000;
	background-color: #ffffff;
	@include base-text;
  }
  input[type="text"] {
	height: size(51);
	margin-bottom: 11px;
	width: 40%;
	@media (max-width: 768px) {
	  width: 70%;
	}
	@media (max-width: 576px) {
	  width: 100%;
	}
  }
  textarea {
	height: size(175);
	margin-bottom: 28px;
	width: 100%;
  }
  input[type="submit"] {
	height: size(38);
	border-radius: 5px;
	background-color: $blue-main;
	padding: 5px 18px;
	@include h4;
	color: #000000;
  }
  .form-submit {
	align-self: flex-end;
  }
}
