.main-ticker-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: size(39);
  background-color: #ffffff;
  box-sizing: content-box;
  //margin-right: -15px;
  //margin-left: -15px;
  padding-right: 70px;
  border-bottom: 1px solid #000000;
}
.pause-news {
  position: absolute;
  right: 35px;
  top: 0;
  z-index: 122;
  @include d-center;
  width: size(33);
  height: 100%;
  background-color: #252525;
  cursor: pointer;
  img {
	width: size(18);
  }
  &.paused {
	img {
	  opacity: 0;
	}
	background-image: url("../iconsall/play.png");
	background-size: size(18);
	background-position: center;
	background-repeat: no-repeat;
  }
}
.msg-ticker-wrap {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: msg_ticker;
  animation-duration: 10s;
  overflow: hidden;
  .msg-item{
	height: 100%;
	display: inline-flex;
	align-items: center;
	a{
	  @include d-center;
	  padding-left: 5px;
	  border-left: 1px solid #000000;
	  span{
		white-space: nowrap;
		@include h6;
		color: #000000;
		font-weight: 400;
	  }
	}
  }
  &.paused {
	animation-play-state: paused;
  }
}
@keyframes msg_ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(100%, 0, 0); }
}
.header-top {
  background-color: #000000;
  padding: size(10) 0;
}
.logo {
  @include d-center;
  img {
	max-height: size(61);
  }
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  padding: 0 15px;
	  a{
		@include d-center;
		font-size: size(20);
		line-height: size(22);
		color: #ffffff;
		transition: color ease-out .5s;
		&:hover {
		  color: $blue-main;
		}
	  }
	}
  }
}
.pop-trigger {
  position: fixed;
  left: 5px;
  bottom: 10%;
  z-index: 999;
  cursor: pointer;
  @include d-center;
  width: size(58);
  height: size(54);
  border-radius: 5px;
  background-color: #000000;
  transition: transform ease-out .5s;
  img {
	width: size(42);
  }
  &:hover {
	transform: scale(0.9, 0.9);
  }
  @media (max-width: 1600px) {
	width: size(48);
	height: size(44);
	img {
	  width: size(32);
	}
  }
}
.pop-great {
  position: fixed;
  @include d-center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 990099;
  background-color: rgba(131, 207, 203, 0.9);
  opacity: 0;
  transition: opacity ease-out .5s;
  pointer-events: none;
  &.show-pop {
	opacity: 1;
	pointer-events: all;
  }
}
.float-form {
  transition: all .5s;
  transform: translateY(-100%);
  background-color: #ebebeb;
  padding: size(60) 10% size(20) 10%;
  opacity: 0;
  width: size(513);
  @media (max-width: 576px) {
	width: auto;
  }
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
}
.close-form {
  position: absolute;
  right: size(16);
  top: size(11);
  z-index: 10;
  cursor: pointer;
  img {
	width: size(20);
  }
}
