.faq {
  margin: size(30) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: size(20);
  }
  .answer-body {
	padding: 20px size(60) 0 8%;
	@media (max-width: 576px) {
	  padding: 20px size(40) 0 size(40);
	}
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(70);
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 5px size(60);
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) center;
  background-size: size(24);
  background-image: url("../iconsall/faq.png");
  transition: background-color ease-out .5s;
  &.active-faq {
	background-color: $blue-main;
  }
  @media (max-width: 576px) {
	background-position: calc(100% - 12px) center;
	background-size: size(18);
	padding: 5px size(40);
  }
}
.faq-body-title {
  @include h4;
  text-align: right;
  @media (max-width: 576px) {
	@include h6;
  }
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-arrow {
  position: absolute;
  left: size(30);
  width: size(23);
  transition: transform ease-out .5s;
  &.active {
	transform: rotate(180deg);
  }
  @media (max-width: 576px) {
	left: size(10);
	width: size(15);
  }
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image .5s;
	&:hover {
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	//background-image: url("../iconsall/arrow-lignt-left.png");
	//&:hover {
	//  background-image: url("../iconsall/arrow-dark-left.png");
	//}
  }
  [dir="rtl"] .slick-prev {
	//background-image: url("../iconsall/arrow-lignt-right.png");
	//&:hover {
	//  background-image: url("../iconsall/arrow-dark-right.png");
	//}
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(16);
	height: size(26);
	z-index: 33;
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 2rem;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}


//Cards
//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
.post-card-content {
  padding: 4% size(15) 9px 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  height: 80%;
  @media (max-width: 1600px) and (min-width: 1201px){
	padding: 4% size(15) 9px size(15);
  }
}
.post-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #2e3192;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 53%;
  }
  @media (max-width: 1600px) and (min-width: 1201px){
	&:after {
	  padding-bottom: 63%;
	}
  }
}
.worker-card {
  .post-img {
	z-index: 99;
	&:after {
	  padding-bottom: 100% !important;
	}
  }
  .post-card-content {
	height: 50%;
  }
}
.post-card-title {
  @include h6;
  color: #ffffff;
  @media (max-width: 1600px) and (min-width: 1201px){
	font-size: size(16);
	line-height: size(18);
  }
}
.post-card-title {
  font-weight: 700;
}
.post-card-date {
  font-size: size(18);
  line-height: size(22);
  font-weight: 300;
  color: #ffffff;
  @media (max-width: 1600px) and (min-width: 1201px){
	font-size: size(14);
	line-height: size(16);
  }
}
.post-card-text {
  font-size: size(16);
  line-height: size(18);
  color: #ffffff;
  font-weight: 400;
  @media (max-width: 1600px) and (min-width: 1201px){
	font-size: size(12);
	line-height: size(16);
  }
}
//Card country
.card-country, .home-card-country {
  display: flex;
  align-items: center;
  height: 100%;
}
.card-country {
  padding: size(23) size(28);
  background-color: #ebebeb;
  @media (max-width: 1200px) and (min-width: 451px) {
	padding: size(23) size(18);
  }
  @media (max-width: 450px) {
	flex-direction: column;
	height: auto;
	align-items: stretch;
  }
}
.country-card-title {
  @include h1;
  color: #000000;
  font-weight: 500;
  margin-bottom: size(17);
  @media (max-width: 1600px) {
	@include h2;
  }
}
.country-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-content-inside {
  flex-grow: 1;
  padding-left: 30%;
  .post-card-text {
	color: #000000;
  }
  @media (max-width: 1600px) {
	padding-left: 10%;
  }
  @media (max-width: 450px) {
	padding-left: 15px;
  }
}
.country-img {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  margin-left: size(50);
  background-color: $blue-main;
  img {
	min-width: size(255);
	width: 100%;
  }
  @media (max-width: 1600px) {
	margin-left: size(25);
	img {
	  min-width: calc(100% - 25px);
	}
  }
  @media (max-width: 450px) {
	margin-left: 0;
	margin-bottom: size(15);
	flex: 0 0 50%;
	max-width: 50%;
	img {
	  min-width: unset;
	}
  }
}
.country-col {
  margin-bottom: 30px;
}
.base-link {
  display: flex;
  color: #000000 !important;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  padding-left: 5px;
  @media (max-width: 1600px) {
	font-size: size(18);
  }
  &:after {
	content: url("../iconsall/arrow-link.png");
	margin: 0 3px;
	transition: margin ease-out .5s;
  }
  &:hover {
	&:after {
	  margin: 0 6px 0 3px;
	}
  }
  &.card-link-projects {
	color: $blue-main !important;
	&:after {
	  content: url("../iconsall/arrow-link-pro.png");
	}
	&:hover {
	}
  }
}
.country-card-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: size(18);
}
//Video
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	@include d-center;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Topics
.topic-col {
  margin-bottom: size(39);
}
.topic-item {
  display: flex;
  background-color: #ffffff;
  padding: size(21) size(24);
  height: 100%;
}
.topic-icon-wrap {
  @include d-center;
  width: size(82);
  min-width: size(82);
  background-color: $blue-main;
  margin-left: size(35);
}
.theme-card {
  .base-link {
	color: #ffffff !important;
	&:after {
	  width: 7px;
	  content: url("../iconsall/arrow-link-white.png");
	}
  }
  .post-card-title {
	color: #ebebeb;
	@include h2;
	font-weight: 600;
  }
}
.triggers-worker {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 9px;
  top: 8px;
  z-index: 1233;
}
.trigger-worker {
  @include d-center;
  width: size(47);
  height: size(47);
  border-radius: 10px;
  background-color: #000000;
  margin-bottom: 8px;
}
.video-trigger-worker {
  img {
	width: size(26);
  }
}
.read-trigger-worker {
  img {
	width: size(33);
  }
}
.take-worker-data {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(0);
  }
}
#reviews-pop-wrapper {
  z-index: 2222;
}
#reviewsModal {
  .modal-dialog {
	position: relative;
	z-index: 999999;
  }
  .modal-body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 999999;
	.worker-data {
	  display: block;
	  .post-img {
		&:after {
		  padding-bottom: 110%;
		}
	  }
	  .post-card-content {
		background-image: linear-gradient(to top, #000000 0%, #000000 46%, rgba(0, 0, 0, 0) 100%);
		height: 80%;
	  }
	  .base-output p {
		color: #ffffff !important;
	  }
	}
  }
  .modal-body .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
	top: -10px;
	right: -10px;
	background-color: transparent;
	z-index: 79799;
	opacity: 1;
  }
}
.breadcrumbs {
  margin-top: size(20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  @include base-text;
  color: #999999;
  transition: color ease-out .5s;
  li span {
	@include base-text;
	color: #999999;
	transition: color ease-out .5s;
  }
  li a span {
	@include base-text;
	color: #999999;
	transition: color ease-out .5s;
  }
  a span:hover {
	color: #000000;
  }
}
