/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  .col-xll-10 {
	flex: 0 0 85%;
	max-width: 85%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: calc(100% - 200px);
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .h-lg-100 {
	height: 100% !important;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .foo-contacts-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
  }
  .foo-main-menu {
	order: 1;
  }
  .form-contact-wrap {
	margin-top: 2rem;
	.pop-form-title {
	  text-align: center;
	}
  }
  .sticky-banner-left {
	display: none;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .category-sub-block {
	.col-post, .col-post:last-child {
	  flex: 0 0 50% !important;
	  max-width: 50% !important;
	}
  }
}
@media (min-width: 769px) {
  #MainNav {
	ul.sub-menu {
	  display: none !important;
	}
	li.menu-item-has-children {
	  background-image: url("../iconsall/arrow-load-more.png");
	  background-position: left center;
	  background-size: size(8);
	  background-repeat: no-repeat;
	}
  }
  .submenu-wrapper {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000000;
	min-width: 70%;
	padding: size(30) size(28);
	z-index: 9999;
	opacity: 0;
	pointer-events: none;
	height: 0;
	transition: height, opacity ease-out .5s;
	ul.sub-menu {
	  display: block !important;
	  column-count: 3;
	  li a {
		@include h5;
		color: $blue-main !important;
		font-weight: 500;
		transition: color ease-out .5s;
	  }
	  ul.sub-menu {
		column-count: 1;
		li a {
		  @include base-text;
		  color: #ffffff !important;
		  transition: color ease-out .5s;
		  &:hover {
			color: $blue-main !important;
		  }
		}
	  }
	}
	&.show-mega-menu {
	  opacity: 1;
	  height: auto;
	  pointer-events: auto;
	}
  }
  .sub-head, .back-to-menu {
	display: none !important;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .post-img-inside {
	&:after {
	  display: block;
	  content: '';
	  padding-bottom: 75%;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .category-sub-block {
	.col-post, .col-post:last-child {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .foo-menu {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .footer-main {
	padding: 80px 40px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
