@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "header";
@import "footer";
@import "forms";


body{
  font-family: $rubik;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic styles
.block-title {
  @include h4;
  color: #000000;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: size(28);
}
.page-title {
  @include h1;
  color: $blue-main;
  margin-bottom: 10px;
  text-decoration: underline;
}
.home-block-title {
  @include h2;
  color: $blue-main;
  margin-bottom: 10px;
}
.base-text {
  @include base-text;
}
.base-output {
  h1 {
	color: $blue-main;
	font-weight: 600;
  }
  h2, h3, h4, h5, h6 {
	color: #000000;
	margin-bottom: 12px;
  }
  h1 {
	@include h1;
  }
  h2 {
	@include h2;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(30);
  }
  img {
	width: 80%;
	margin: 1rem 0;
	@media (max-width: 576px) {
	  width: 100%;
	}
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.page-body {
  padding-top: 30px;
}
.more-link {
  @include d-center;
  @include h2;
  color: #ffffff !important;
  height: size(47);
  border-radius: 5px;
  background-color: #000000;
  padding: size(8) size(26) size(8) size(14);
  transition: background-color ease-out .5s;
  margin-bottom: size(38);
  &:hover {
	background-color: $blue-main;
  }
  img {
	margin-right: size(14);
	width: size(20);
  }
  &.loading {
	img {
	  display: none;
	}
  }
  &.hide {
	display: none;
  }
}


//Contact page
.contact-page-body {
  background-color: $gray-main;
  padding: size(60) 0;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.contact-icon-wrap {
  @include d-center;
  border-radius: 5px;
  background-color: $blue-main;
  width: size(94);
  min-width: size(94);
  height: size(94);
  margin-bottom: size(25);
  padding: size(25);
  @media (max-width: 1200px) and (min-width: 993px){
	width: size(74);
	min-width: size(74);
	height: size(74);
	margin-bottom: size(15);
	padding: size(15);
  }
}
.contact-type {
  @include h4;
  font-weight: 400;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-main;
  }
  @media (max-width: 1200px) and (min-width: 993px) {
	@include h6;
  }
}
.contact-type-title {
  font-size: size(33);
  line-height: size(40);
  font-weight: 700;
  margin-bottom: size(14);
  @media (max-width: 1200px) and (min-width: 993px) {
	font-size: size(25);
	line-height: size(30);
  }
}
.contact-type, .contact-type-title {
  text-align: center;
  color: #000000;
}
//Post
p.post-page-date {
  @include h6;
  font-weight: 300;
  color: #000000;
  margin-bottom: size(10) !important;
}
.sticky-sidebar, .sticky-banner-left {
  position: sticky;
  top: 0;
  .col-post {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
.article-page-body {
  .comment-meta {
	a {
	  @include h6;
	  font-weight: 300;
	  color: #000000;
	}
  }
  .comment-author {
	align-items: center;
	flex-wrap: wrap;
  }
  .comment-author-name {
	@include h6;
	font-weight: 700;
	color: #000000;
	margin-left: size(18);
  }
  .comment {
	margin-bottom: size(40);
  }
  .comment-text-custom {
	p {
	  @include h6;
	}
  }
}
.comments-block {
  margin: size(34) 0;
  width: 100%;
}
.link-post-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
}
.file-icon-wrap {
  @include d-center;
  margin-left: size(21);
  width: size(45);
  min-width: size(45);
  height: size(43);
  border-radius: 5px;
  background-color: #000000;
  padding: size(7) size(10);
  img {
	max-height: 100%;
  }
}
.file-save-text {
  @include h6;
  color: #000000;
  font-weight: 400;
}
.all-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  width: 0;
  transition: width, opacity ease-out .5s;
  img {
	width: size(30);
  }
  &.show-share {
	width: auto;
	opacity: 1;
  }
}
.socials-wrap {
  @include d-center;
  margin: 0 4px;
}
.social-trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
//Categories
.hot-block-back {
  padding: 27px 0;
  background-color: $gray-main;
}
.block-subtitle, .comment-reply-title {
  @include h4;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: size(30);
}
//Project
.project-gallery-block {
  width: 100%;
  margin: 0 -15px size(115) -15px;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(47);
	height: size(47);
	border-radius: 10px;
	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(15);
	top: calc(100% + 2rem);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: 15px;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	left: calc(100% - 6rem);
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.gallery-slide-main {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 60%;
  }
}
.play-button-design {
  @include d-center;
  @include overlay;
  z-index: 3;
  cursor: pointer;
}
.project-gallery-slide {
  padding: 15px;
}
//Homepage
.home-main-block {
  padding-top: size(30);
  margin-bottom: size(80);
  @media (max-width: 768px) {
	margin-bottom: 10px;
  }
}
.post-img-inside {
  @include back-img;
  width: 100%;
  height: 100%;
}
.col-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .col-post {
	margin-bottom: 0 !important;
	&.col-xl-3 {
	  flex: 0 0 33.333333%;
	  max-width: 33.333333%;
	}
	@media (max-width: 992px) {
	  flex: 0 0 50% !important;
	  max-width: 50% !important;
	  margin-bottom: 30px !important;
	  &:last-child {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	  }
	}
	@media (max-width: 576px) {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	}
  }
  .post-card-title {
	@media (max-width: 1600px) and (min-width: 993px){
	  font-size: size(16) !important;
	  line-height: size(18) !important;
	}
  }
  .post-card-date {
	@media (max-width: 1600px) and (min-width: 993px){
	  font-size: size(14) !important;
	  line-height: size(16) !important;
	}
  }
  .post-card-text {
	@media (max-width: 1600px) and (min-width: 993px){
	  font-size: size(12) !important;
	  line-height: size(16) !important;
	}
  }
}
.home-countries {
  margin-bottom: size(40);
}
.home-card-country {
  .country-img {
	margin-left: size(45) !important;
	@media (max-width: 768px) {
	  flex: 0 0 45%;
	  max-width: 45%;
	}
	img {
	  min-width: unset;
	}
  }
}
.home-posts-output {
  margin: size(40) 0 size(77) 0;
}
.card-post-home {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  background-color: $gray-main;
  margin-bottom: 12px;
  min-height: 97px;
  .post-page-date {
	margin-bottom: 0 !important;
  }
  .post-page-author {
	margin-left: size(11);
  }
}
.home-post-card-content {
  padding: 15px size(18) 15px 20%;
  @media (max-width: 1600px) {
	padding: 15px size(18) 15px 10%;
  }
  @media (max-width: 992px) {
	padding: 15px size(18);
  }
}
.card-post-home-img {
  @include back-img;
  min-width: 112px;
  height: auto;
}
.post-page-author {
  @include h6;
  font-weight: 700;
  color: #000000;
}
//Category page
.category-output-block {
  padding: size(60) 0;
  background-color: $gray-main;
}
.related-themes {
  background-color: $gray-main;
  padding: size(50) 0 size(34) 0;
}
.category-top-block {
  position: relative;
  background-color: $gray-main;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
	flex-wrap: wrap;
  }
}
.background-category-top {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 767px) {
	width: 100%;
	position: relative;
	height: 300px;
	order: 2;
  }
}
.middle-cat-overlay {
  position: absolute;
  width: 41%;
  height: 100%;
  z-index: 6;
  background-image: linear-gradient(to right, rgba(235, 235, 235, 0) 0%, #ebebeb 66%, #ebebeb 100%);
  @media (max-width: 992px) {
	width: 61%;
  }
  @media (max-width: 767px) {
	display: none;
  }
}
.category-top-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.category-top-title {
  @include h2;
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
  margin-left: size(16);
}
.flag-category-page {
  img {
	width: size(54);
  }
}
.content-category-page {
  position: relative;
  z-index: 9;
  padding: size(20) 15px size(31) 15px;
}
.subcategory-page-title {
  @include h2;
  color: $blue-main;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: underline;
  margin-bottom: size(16);
}
.subcategory-description p {
  @include h6;
  color: #000000;
  font-weight: 700;
  margin-bottom: size(23);
}
.category-sub-block {
  .sticky-banner-left {
	padding-bottom: 30px;
  }
  .col-post {
	margin-bottom: 30px !important;
  }
}

@import "responsive";
